*.xlsx
*.txt
*.mp3
*.psd
*.ini

Direct_link/
reserverd-static/
reserved_temlates/
cdn_test/
pyvenv.cfg
debug.log
lib64/
lib/
share/
bin/
libs/
logs/
share/
bin/
dist/
build/
mods/
icon/

Dev/bootcamp/bootcamp/reserved_static/
Dev/bootcamp/bootcamp/reserved_templates/

Dev/bootcamp/bootcamp/__pycache__/
Dev/bootcamp/bootcamp/api/__pycache__/

Dev/bootcamp/accounts/__pycache__/
Dev/bootcamp/accounts/migrations/
Dev/bootcamp/accounts/api/__pycache__/

Dev/bootcamp/manufacturer/__pycache__/
Dev/bootcamp/manufacturer/migrations/
Dev/bootcamp/accounts/manufacturer/api/__pycache__/

Dev/bootcamp/products/__pycache__/
Dev/bootcamp/products/migrations/
Dev/bootcamp/accounts/manufacturer/api/__pycache__/

Dev/bootcamp/profiles/__pycache__/
Dev/bootcamp/profiles/migrations/

Dev/bootcamp/orders/__pycache__/
Dev/bootcamp/orders/migrations/
Dev/bootcamp/orders/api/__pycache__/

Dev/bootcamp/include
Dev/bootcamp/bin/
Dev/bootcamp/lib/git 
Dev/bootcamp/lib64/
Dev/bootcamp/share/
Dev/bootcamp/pyvenv.cfg

airport_petty_algorithms/carrier_register_li/bin/
airport_petty_algorithms/carrier_register_li/build/
airport_petty_algorithms/carrier_register_li/lib/
airport_petty_algorithms/carrier_register_li/libs/
airport_petty_algorithms/carrier_register_li/icon/
airport_petty_algorithms/carrier_register_li/include/
airport_petty_algorithms/carrier_register_li/logs/
airport_petty_algorithms/carrier_register_li/share/

.pyvenv.cfg
.coala.1
.env
.devcontainer

.__init__.py
.__init__.cpython-38.pyc

.interface.spec
.desktop.ini
.env
