asgiref==3.2.10
coverage==5.3
Django==3.1.2
psycopg2==2.8.6
pytz==2020.1
sqlparse==0.3.1
django-crispy-forms==1.6.0
django-errortemplates==1.0.1
whitenoise==5.2.0
django-paypal==1.1
pillow==8.4.0
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
django-oauth-toolkit==1.7.0
google==3.0.0
google-cloud==0.34.0
google-auth==2.6.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
django-crispy-forms==1.14.0
