{%extends 'base.html'%}

{%block title%} Google Login {%endblock%} 

{%load crispy_forms_tags%} 

{%block content%}

{% load static %}

{%load crispy_forms_tags%}


<head>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="MY_CLIENT_ID_ON_GOOGLE_DEV.apps.googleusercontent.com">

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'css/social_buttons.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=loadAuthClient" async defer></script>
  <script>
  var googleUser = {};
  var startApp = function() {
    gapi.load('auth2', function() {
      // Retrieve the singleton for the GoogleAuth library and set up the client.
      auth2 = gapi.auth2.init({
        client_id: '1089815522327-308m9crjd7u9g4t5j7qsrhttef305l1a.apps.googleusercontent.com', 
        cookiepolicy: "single_host_origin",
        
        // Request scopes in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
      attachSignin(document.getElementById('customBtn'));
    });
  };

  var email = '{{ user.email }}'
  var user = '{{ user }}'
  var is_active = '{{ user.is_active }}'
  var user_id = '{{ request.user.id }}'

  // var user2 = '{{ request.user }}'

  function attachSignin(element) {
    console.log(element.id);
    // alert(element)
    auth2.attachClickHandler(element, {},
        function(googleUser) {
          // getting Google Auth Token
          var IdToken = googleUser.getAuthResponse().id_token;
          // getting User object
          var User = googleUser.getBasicProfile().getName();
          var Email = googleUser.getBasicProfile().getEmail();
          document.getElementById('token').innerText = "SignIn as: " + 
          User
          
          // alert('Name' + googleUser.getBasicProfile().getName() +
          //       "\n\nEmail" + googleUser.getBasicProfile().getEmail()
          //  )
          
          // ++++ 1st Token + User
          alert("User Token: " + IdToken +
                "\n\nUser: " + user +
                "\n\nEmailUser: <-" + ' ' + Email +
                "\n\nswitched from email: ->" + email
          )

        alert("This is response")
        FinalizeResponse(IdToken, User, Email);
        alert("This is response2")
        
        // neeed to implmement POST METHOD
        // formData(IdToken, User);

          return IdToken, User, Email;

        }, function(error) {
          alert(JSON.stringify(error, undefined, 2));
        });
  }

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      // alert('Cookies' + cookies)
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    // alert('Cookie Value' + cookieValue)
    return cookieValue;
  }

  const csrftoken = getCookie('csrftoken');

  // Finalize POST request to the backend
  // Responsible for the authentication also

  function formData(IdToken, User, Email) {
    var url = "{% url 'accounts_api:google-user-login-test' %}"

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        // redirect: 'follow', // manual, *follow, error
        body:JSON.stringify({'IdToken': IdToken, 'User': User, 'Email': Email})
    })
  }

  function FinalizeResponse(IdToken, User, Email) {

    // redirect urls
    // var url1 = "{% url 'index' %}" // main page

    var url1 = "{% url 'accounts:profile' %}"
    var url2 = "{% url 'accounts:login-success' %}"
    var url3 = "{% url 'accounts:login_failed' %}"
    var url4 = "{% url 'accounts:login_cbv' %}"
    
    var same_email = email === Email

    if (!same_email && user !== 'AnonymousUser') {
      
      if (confirm('1. U will be sighedin as: ' + User +
        "\n\n and logout from: " + user)) { 
        // Save it!
        formData(IdToken, User, Email);
        alert('U\'ve signed in as: ' + User);
        location.replace(url2);
      } else {
        // Do nothing!
        alert('U\'ve passed the login for: ' + User);
        location.replace(url4);
      }
    }

    else if (same_email) {
      alert('2. U\'ve already sighed-in as: ' + User)
      location.replace(url1);
    }

    else if ('AnonymousUser') {
      
      // alert('3: U will be sighedin as: ' + User)
      // add on approve

      if (confirm('3. U will be sighedin as: ' + User)) {
        // Save it!
        
        // alert(user === 'AnonymousUser')
        // alert(user.is_active)
        formData(IdToken, User, Email);
        alert('U\'ve signed in as: ' + User);
        location.replace(url2);

      } else {
        // Do nothing!
        alert('U\'ve passed the login for: ' + User);
        location.replace(url3);
      }
    }

    else {
      alert('Login failed for: ' + User)
      // add on approve
      // FinalizeResponse(IdToken, User);
      location.replace(url3);
    }
  }

  </script>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="header1">
        <div class="header2">
          <div class="check"> <i class="fa fa-dot-circle-o"></i></div>
        </div>
        <div class="content">
          <h1> U're going to login with google as a: </h1>
          <h2> {{ user }} </h2>
          <p>
            <form action="." method="post" enctype="multipart/form-data">
              {% csrf_token %}
              
              <!-- In the callback, you would hide the gSignInWrapper element on a
              successful sign in -->
              <div id="gSignInWrapper" style="text-align: center;">
                <!-- <span class="label">Sign in with:</span> -->
                <div id="customBtn" class="customGPlusSignIn">
                  <!-- for button with logo -->
                  <!-- <span class="icon">
                    <img class="g-normal-logo" src="{% static 'images/social_buttons/g-normal.png' %}">
                  </span> -->
                  <span class="buttonText">Google</span>
                </div>
              </div>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
              <div id="token"></div>
            
              <script>startApp();</script>
                
            </form>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</head>

{% endblock %}
