{%extends 'base.html'%}

{%block title%} Twitter Login {%endblock%} 

{%load crispy_forms_tags%} 

{%block content%}

{% load static %}

{%load crispy_forms_tags%}

<head>
  <title>Twitter Login Example</title>
  <meta charset="UTF-8">
</head>
  
<body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
  
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- defines style for social auth buttons specifically -->
  <link rel="stylesheet" href="{% static 'css/social_buttons.css' %}">

  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto mt-5">
        <div class="header1">
          <div class="header2">
            <div class="check"> <i class="fa fa-dot-circle-o"></i></div>
          </div>
          <div class="content">
            <h1> U're going to login with twitter as a: </h1>
            <h2> {{ user }} </h2>
  
          </div>
          <p id="social-button">
            <a id="twitter-button" class="btn btn-block btn-social btn-twitter">
              <i class="fa fa-twitter"></i> Sign in with Twitter
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <script>

    var email = '{{ user.email }}'
    var user = '{{ user }}'

    $('#twitter-button').on('click', function() {
      // Initialize with your OAuth.io app public key
      OAuth.initialize('o9DM9op1aSnbn7zALg9NBKQw4Bw');
      // Use popup for OAuth
      OAuth.popup('twitter').then(twitter => {
        console.log('twitter:', twitter);
        // Prompts 'welcome' message with User's email on successful login
        // #me() is a convenient method to retrieve user data without requiring you
        // to know which OAuth provider url to call
        twitter.me().then(data => {
          console.log('data:', data);

          // data.id other parameters

          alert('Twitter says your email is: ' + data.email + ', nickname: ' + data.alias + " .\nView browser 'Console Log' for more details");

          var Data = data
          var Email = data.email
          

          alert('This is data:' + Data)

          FinalizeResponse(Data, Email)

        });
        // Retrieves user data from OAuth provider by using #get() and
        // OAuth provider url    
        twitter.get('/1.1/account/verify_credentials.json?include_email=true').then(data => {
          console.log('self data:', data);
        })    
      });
    })

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        // alert('Cookies' + cookies)
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      // alert('Cookie Value' + cookieValue)
      return cookieValue;
    }

    const csrftoken = getCookie('csrftoken')

    function formData(Data, Email) {
      var url = "{% url 'accounts_api:twitter-user-login' %}"

      fetch(url, {
        method: 'POST',
        headers: {
          'Content-type': 'application/json',
          'X-CSRFToken': csrftoken,
        },
        // redirect: 'follow', // manual, *follow, error
        body:JSON.stringify({'Data': Data, 'Email': Email})
      })
    }

    function FinalizeResponse(Data, Email) {

      // redirect urls
      
      var url1 = "{% url 'accounts:profile' %}"
      var url2 = "{% url 'accounts:login-success' %}"
      var url3 = "{% url 'accounts:login_failed' %}"
      var url4 = "{% url 'accounts:login_cbv' %}"

      var same_email = email === Email

      if (!same_email && user !== 'AnonymousUser') {
        
        if (confirm('1. U will be sighedin as: ' + Email +
          "\n\n and logout from: " + user)) { 
          // Save it!
          formData(Data, Email);
          alert('U\'ve signed in as: ' + Email);
          location.replace(url2);
        } else {
          // Do nothing!
          alert('U\'ve passed the login for: ' + Email);
          location.replace(url4);
        }
      }

      else if (same_email) {
        alert('2. U\'ve already sighed-in as: ' + Email)
        location.replace(url1);
      }

      else if ('AnonymousUser') {
        // alert('3: U will be sighedin as: ' + User)
        // add on approve

        if (confirm('1. U will be sighedin as: ' + Email)) {
          // Save it!
          formData(Data, Email);
          alert('U\'ve signed in as: ' + Email);
          location.replace(url2);
        } else {
          // Do nothing!
          alert('U\'ve passed the login for: ' + Email);
          location.replace(url4);
        }
      }

      else {
        alert('Login failed for: ' + Email)
        // add on approve
        // FinalizeResponse(IdToken, User);
        location.replace(url3);
      }
    }
  
  </script>
    
  </body>

{% endblock %}
