{%extends 'base.html'%}

{%block title%} Twitter Login {%endblock%} 

{%load crispy_forms_tags%} 

{%block content%}

{% load static %}

{%load crispy_forms_tags%}

<head>
<title>Twitter Login Example</title>
<meta charset="UTF-8">
</head>

<body>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  
  <!-- defines style for social auth buttons specifically -->
  <link rel="stylesheet" href="{% static 'css/social_buttons.css' %}">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">

  <script>

  var email = '{{ user.email }}'
  var user = '{{ user }}'
  // var is_active = '{{ user.is_active }}'
  // var user_id = '{{ request.user.id }}'

  // window.twttr = (function(d, s, id) {
  //   var js, fjs = d.getElementsByTagName(s)[0],
  //     t = window.twttr || {};
  //   if (d.getElementById(id)) return t;
  //   js = d.createElement(s);
  //   js.id = id;
  //   js.src = "https://platform.twitter.com/widgets.js";
  //   fjs.parentNode.insertBefore(js, fjs);

  //   t._e = [];
  //   t.ready = function(f) {
  //     t._e.push(f);
  //   };

  //   return t;
  // }(document, "script", "twitter-wjs"));

  $('#twitter-button').on('click', function() {
    // Initialize with your OAuth.io app public key
    OAuth.initialize('A2z1dt1lTOELG_iQjd96CEtzqd0');
    // Use popup for OAuth
    OAuth.popup('twitter').then(twitter => {
      console.log('twitter:', twitter);
      // Prompts 'welcome' message with User's email on successful login
      // #me() is a convenient method to retrieve user data without requiring you
      // to know which OAuth provider url to call
      twitter.me().then(data => {
        console.log('data:', data);
        alert('Twitter says your email is:' + data.email + ".\nView browser 'Console Log' for more details");
        
        var Data = data
        var Email = data.email

        alert('This is data:' + Data)

        FinalizeResponse(Data, Email)

      });
      // Retrieves user data from OAuth provider by using #get() and
      // OAuth provider url    
      twitter.get('/1.1/account/verify_credentials.json?include_email=true').then(data => {
        console.log('self data:', data);
      })    
    });
  })

  // OAuth.initialize('A2z1dt1lTOELG_iQjd96CEtzqd0')
  // OAuth.popup('twitter').done(function(result) {
  //   console.log(result)
  //   alert(result)
  // })


  // result.me().done(function(data) {
  //   console.log(result)
  //   alert(result)
  // })
    

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      // alert('Cookies' + cookies)
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    // alert('Cookie Value' + cookieValue)
    return cookieValue;
  }

  // const csrftoken = getCookie('csrftoken');

  // Finalize POST request to the backend
  // Responsible for the authentication also

  function formData(Data, Email) {
    var url = "{% url 'accounts_api:twitter-user-login-test' %}"

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        // redirect: 'follow', // manual, *follow, error
        body:JSON.stringify({'Data': Data, 'Email': Email})
    })
  }

  function FinalizeResponse(Data, Email) {

    // redirect urls
    // var url1 = "{% url 'index' %}" // main page

    var url1 = "{% url 'accounts:profile' %}"
    var url2 = "{% url 'accounts:login-success' %}"
    var url3 = "{% url 'accounts:login_failed' %}"
    var url4 = "{% url 'accounts:login_cbv' %}"
    
    var same_email = email === Email

    if (!same_email && user !== 'AnonymousUser') {
      
      if (confirm('1. U will be sighedin as: ' + Email +
        "\n\n and logout from: " + user)) { 
        // Save it!
        formData(Data, Email);
        alert('U\'ve signed in as: ' + Email);
        location.replace(url2);
      } else {
        // Do nothing!
        alert('U\'ve passed the login for: ' + Email);
        location.replace(url4);
      }
    }

    // else if (same_email) {
    //   alert('2. U\'ve already sighed-in as: ' + User)
    //   location.replace(url1);
    // }

    // else if ('AnonymousUser') {
    //   // alert('3: U will be sighedin as: ' + User)
    //   // add on approve

    //   if (confirm('1. U will be sighedin as: ' + User)) {
    //     // Save it!
    //     formData(IdToken, User);
    //     alert('U\'ve signed in as: ' + User);
    //     location.replace(url2);
    //   } else {
    //     // Do nothing!
    //     alert('U\'ve passed the login for: ' + User);
    //     location.replace(url4);
    //   }
    // }

    else {
      alert('Login failed for: ' + Email)
      // add on approve
      // FinalizeResponse(IdToken, User);
      location.replace(url3);
    }
  }

  </script>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="header1">
        <div class="header2">
          <div class="check"> <i class="fa fa-dot-circle-o"></i></div>
        </div>
        <div class="content">
          <h1> U're going to login with twitter as a: </h1>
          <h2> {{ user }} </h2>
          <p>
            
            <form action="." method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <a id="twitter-button" class="btn btn-block btn-social btn-twitter">
                <i class="fa fa-twitter"></i> Sign in with Twitter
              </a>

            </form>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

{% endblock %}