{% extends 'base.html' %} 

{% block title %} Manufacturers List {% endblock %}

{% block content %}

<style>
    form div label {
        margin: 5px 0 2px;
    }

    form button {
        margin-top: 10px;
    }

    input[type='text'] {
        width: 100%;
    }

    .picture {
      border: 1px solid #4287f5;
      height: 100px;
      width: 150px;
      padding-top: 10px;
      text-align: center;
      text-orientation: initial;
    }
    #messages {
        background-color: rgb(172, 169, 169);
        color: #fff;
        padding: 10px;
        margin-top: 10px;
    }
</style>

<div class="card w-25 my_margin" id="manufacturerTitle">
    <div class="card-body" style="display: flex; justify-content: space-between; align-items: center">
        <h5 class="card-title" style="margin-bottom: 0">Manufacturers: </h5>
        <!-- USER AUTHENTICATION CHECK !!!! open this part after  user will be created'  -->

        <a href="{%url 'manufacturer:manufacturer_create_view'%}" class="btn btn-primary" style=background-color:mediumpurple>Create</a>
    </div>
</div>

<!-- manufacturer_list is a var taken from views.py context -->
{%for manufacturer in manufacturer_list%}
<div class="card w-25 my_margin">
    <div class="card-body" style="display: flex; justify-content: space-between">
        <div style="display: flex; align-items: stretch; width: 100%">
            <div>
                <h6 class="card-title" style="margin: 0; line-height: 1.5; padding-right: 5px">{{forloop.counter}}.</h6>
            </div>

            <div style="width: 100%">
                <p>{{manufacturer.title}}</p>
                <!--  <p>Count: {{product.count}}</p> !!! shift to status - available/non/availbale !!! check how it's in Zappos -->
                <div style="padding-top: 5px">
                    <button
                        class="btn btn-info btn-sm"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseDesc{{manufacturer.id}}"
                        aria-expanded="false"
                        aria-controls="collapseDesc{{manufacturer.id}}"
                        style="width: 100px;"

                    >
                        Country
                    </button>
                    <div class="collapse" id="collapseDesc{{manufacturer.id}}" style="padding-top: 5px">
                        <div class="card card-body" style="padding: 5px 10px">
                            {% if manufacturer.country %}
                                {{manufacturer.country}}
                            {% else %}
                                not filled yet
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div style="padding-top: 5px">
                    <a href="{%url 'manufacturer:detailed_view' manufacturer.id%}" 
                        class="btn btn-info btn-sm"
                        type="button"
                        style="width: 100px; color: white; margin-top: 5px; background-color:limegreen"
                    >
                        Details
                    </a>
                </div>
            </div>
        </div>
        <div class='picture'>
           >picture here<
        </div>
    </div>
</div>
{%endfor%}
{%endblock%}
