{% extends 'base.html' %}

<title>{% block title %} Create Product {% endblock %}</title>

{% block content %}

<head>
  <style>

    .form-widgets {
      line-height: 15pt;
      color: linen;
      padding: 10px;
    }

    .content {
      width: 212px;
    }

    .message {
        color:limegreen;
        font-weight: bold;
        width: 212px;
    }

  </style>

  <form method='POST' action='.'>
    {% csrf_token %}
    <div class='form-widgets'>
      <label for="fname"> Title: </label>
      <input type='text' name='title' style="width: 500px;height: 40px"/>
      <br/><br/>
      <label for="fname"> Content: </label>
      <textarea name="content" style="width: 500px;height: 100px"> </textarea> 
      <br/><br/>
      <label for="fname"> Price, $: </label>
      <input type="number" id="price" name="price" style="width: 500px; height: 40px"/>
      <br/><br/>
      <div>
        <br>
        {% for message in messages %}
            <p class="card-title" id='messages'> U have just created the next product:  <text class='message'>{{ message }}</p>
        {% endfor %}
        <br>
    </div>
      <button type="submit" class="btn btn-success" style="display: block; margin-top: 5px; background-color:limegreen">Create</button>

    </div>
  </form>

</head>

{% endblock %}

