{% load static %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<style>
    .topnav a:hover {
    border-bottom: 2px solid limegreen;
    }

    .login_fbv {
        width: 110px;
        margin: 2px;
    }

    .login_cbv {
        width: 110px;
        margin: 2px;
        color: mediumspringgreen;
    }

    .register_fbv {
        width: 110px;
        margin: 2px;
    }

    .register_cbv {
        width: 110px;
        margin: 2px;
        color: mediumspringgreen;
    }


</style>

<div class="container">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{%url 'panda_link' %}">PANDA HARDWARE</a>
        
        <!-- <form class="form-inline" method='POST' action="{% url 'search_view' %}"> -->
        <form class="form-inline" method='POST' action="{% url 'search_venues' %}">

            {% csrf_token %}
            
            <!-- !!! name is eesential in  aform as we would get it to reference a variable then -->
            <input class="form-control mr-sm-2" type="search" placeholder="Search Items" name="searched"  aria-label="Search"/>
            <button class="btn btn-outline-primary" type='submit'>Search</button>
            <!-- <button class="btn btn-outline-secondary" type='submit'>Search</button> -->
        </form>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url  'products:product_list_view' %}">Shop Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manufacturer:manufacturer_list_view' %}">Shop Manufacturers</a>
                </li>

                {% if user.is_authenticated %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'accounts:profile' user.id%}">Profile</a>
                        <a class="dropdown-item" href="{% url 'accounts:edit_profile_page_view' user.id%}">Edit Profie CBW</a>
                        <a class="dropdown-item" href="{% url 'accounts:profile_update_view' user.id%}">Edit Profie FBW</a>
                        {% if user.is_staff %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:profile_list_view'%}">Profiles</a>
                        {% endif %}
                    </div>
                </li>

                <li class="cart">
                    <a class="nav-link" href="{% url 'orders:cart_view' user.id %}">Shop Cart</a>
                </li>
                <!-- <li class="contact">
                    <a class="nav-link" href="https://frosty-cori-df7b43.netlify.app/">Contact</a>
                </li> -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contact
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://frosty-cori-df7b43.netlify.app/">CV</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://www.youtube.com/channel/UC_ACyB-DKm4Z3LLB0mH0kQg"> YouTube </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url  'feedback_form_view' %}"> Feedback </a>
                </li>
                <li class="logout">
                    <a class="nav-link btn btn-primary text-white" type="button" href="{%url  'accounts:logout' %}"> Log Out </a>
                </li>
                {% else %}
                <li class="login_fbv">
                    <a class="nav-link btn btn-primary text-white" type="button" href="{%url 'accounts:login_fbv' %}">Login FBW</a>                  
                </li>
                <li class="login_cbv">
                    <a class="nav-link btn btn-primary text-white" type="button" href="{%url 'accounts:login_cbv' %}">Login CBW</a>                  
                </li>
                <li class="register_fbv">
                    <a class="nav-link btn btn-danger text-white" type="button" href="{%url 'accounts:register_fbv' %}">SignUp FBW</a>
                </li>
                <li class="register_cbv">
                    <a class="nav-link btn btn-danger text-white" type="button" href="{%url 'accounts:register_cbv' %}">SignUp CBW</a>
                </li>

                {% endif %}
            </ul>
        </div>

            <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Customer Sign In</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <label class="sr-only" for="username">Username</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>


                        <label class="sr-only" for="Password">Name</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-key"></i></span>
                            </div>
                            <input id="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Sign In</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
            
    </nav>
</div>