{% load static %}

<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<style>
    .topnav a:hover {
    border-bottom: 2px solid limegreen;
    }

    .login {
        width: 75px;
        margin: 2px;
    }

    .register {
        width: 75px;
        margin: 2px;
    }

</style>

<div class="container">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{%url 'panda_link' %}">PANDA HARDWARE</a>
        
        <!-- <form class="form-inline" method='POST' action="{% url 'search_view' %}"> -->
        <form class="form-inline" method='POST' action="{% url 'search_venues' %}">

            {% csrf_token %}
            
            <!-- !!! name is eesential in  aform as we would get it to reference a variable then -->
            <input class="form-control mr-sm-2" type="search" placeholder="Search Items" name="searched"  aria-label="Search"/>
            <button class="btn btn-outline-primary" type='submit'>Search</button>
            <!-- <button class="btn btn-outline-secondary" type='submit'>Search</button> -->
        </form>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url  'products:product_list_view' %}">Shop Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manufacturer:manufacturer_list_view' %}">Shop Manufacturers</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Carfax</a>
                        <a class="dropdown-item" href="#">Carproof</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Omnivic</a>
                    </div>
                </li>
                <li class="cart">
                    <a class="nav-link" href="{%url 'orders:cart_view' %}">Shop Cart</a>
                </li>
                <li class="contact">
                    <a class="nav-link" href="{%url 'contact'  %}">Contact</a>
                </li>
                <li class="login">
                    <a class="nav-link btn btn-primary text-white" type="button" href="{%url 'accounts:login' %}">Login</a>                  
                </li>
                <li class="register">
                    <a class="nav-link btn btn-danger text-white" type="button" href="{%url 'accounts:register' %}">Register</a>
                </li>
            </ul>
        </div>

            <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Customer Sign In</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <label class="sr-only" for="username">Username</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>


                        <label class="sr-only" for="Password">Name</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-key"></i></span>
                            </div>
                            <input id="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Sign In</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
            
    </nav>
</div>