{%extends 'base.html'%}

{%block title%} User Update {%endblock%} 

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{%block content%}

<style> 

    p {
        margin: 8px 0 0 0;
        text-align: left;

    }

    form ul {
        padding: 0 20px 0 20px;
        padding-bottom: 0px;
    }

    form ul li {
        display: block;
    }
    form div label {
        margin: 5px 0 2px;
    }
    input[type='text'] {
        width: 100%;
    }

    input[type='email'] {
        width: 100%;
    }

    input[type='password'] {
        width: 100%;
    }
    
    .card {
        margin: 5px;
    }
    
    #update_btn {
        background-color: rgb(245, 173, 6);
        color: rgb(3, 4, 31);
        width: 80px;
        border-color: darkorange;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    #update_btn:hover {			
        background-color: gainsboro;		
    }

    #link2:hover {			
        text-decoration: underline;
    }

    .header1
    {
        border:1px solid #f2f2f2;
        height:280px;
        border-radius:20px;
        background:#fff;
    }
    .header2
    {
        background: rgba(255,102,0,1);
        padding:20px;
        border-radius:20px 20px 0px 0px;
    }

    .dot-circle-o
    {
        margin:0px auto;
        width:50px;
        height:50px;
        border-radius:100%;
        background:#fff;
        text-align:center;
    }

    .dot-circle-o i
    {
        vertical-align:middle;
        line-height:50px;
        font-size:30px;
    }

    .content 
    {
        text-align:center;
    }

    .content  h1
    {
        font-size:25px;
        padding-top:25px;
    }

    .content a
    {
        width:200px;
        height:35px;
        color:#fff;
        border-radius:30px;
        padding:5px 10px;
        background:rgba(255,102,0,1);
        transition:all ease-in-out 0.3s;
    }

    .content a:hover
    {
        text-decoration:none;
        background:#000;
    }

    .footer_app {
      color: rgb(245, 173, 6);
      font-weight: bold;
      position: fixed;     
      text-align: left;    
      bottom: 10px; 
      width: 100%;
    }

    .footer_root {
      color: rgb(245, 173, 6);
      font-weight: bold;
      position: fixed;     
      text-align: left;    
      bottom: 35px; 
      width: 100%;
    }

</style>
<div>
    {% if user.is_authenticated  %}

    <div class="card w-25 my_margin" style="margin-left: 5px; text-align: left">
        <div class="card-body" >
            <h5 class="card-title">User Update</h5>
            
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    
                {{form.as_p}}

                {% include 'snippets/update_message.html' %}
                <button type="submit" class="btn btn-success" id='update_btn'>Update</button>
            </form>
        </div>

        <div class="mt-4"  style="color: rgb(3, 4, 31); font-weight: bold; text-align: center; margin-top: 0px; padding-top: 0px;">
            <p style="text-align: center;"> Delete this account and create a new one (×﹏×)</p>
        </div>
        <div class="d-flex justify-content-center links" style=" margin-bottom: 10px">
            <a href="{%url 'accounts:profile_delete_view' user.id%}"
                class="ml-2"
                id='link2'
                style="color: rgb(220, 48, 71); background-color: transparent; font-weight: bold;"
            >
                Delete profile
            </a>
        </div>
    </div>

    {% else %}

    <div class="container">
        <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="header1">
                <div class="header2">
                   <div class="dot-circle-o"> <i class="fa fa-dot-circle-o" style="font-size:62px;"></i> ⦿ </div>
                </div>
                <div class="content">
                    <h1>Compulsory Logout!</h1>
                    <p> Login again with a new password to update profile again ⊂(・﹏・⊂) </p>
                    </br>
                    <a href="{% url 'accounts:login_fbv' %}" style="margin-bottom: 0px">Login</a>
                </div>
            </div>
        </div>
        </div>
    </div>

    {% endif %}

</div>

<div class="footer_app">
    app: {{ app_name_2 }}
</div>
<div class="footer_root">
    root: {{ root }}
</div>

{%endblock%}
