{%extends 'base.html'%}

{%block title%} User Update {%endblock%} 

{% load static %}
{%load crispy_forms_tags%} 

{%block content%}

<style>
    form ul {
        padding: 0 20px 0 20px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    form ul li {
        display: block;
    }
    form div label {
        margin: 5px 0 2px;
    }
    input[type='text'] {
        width: 100%;
    }

    input[type='email'] {
        width: 100%;
    }

    input[type='password'] {
        width: 100%;
    }
    
    .card {
        margin: 5px;
    }
    
    .btn-success {
        display: block; 
        background-color:limegreen;
    }

    #update_btn {
        background-color: rgb(245, 173, 6);
        color: rgb(3, 4, 31);
        width: 80px;
        border-color: darkorange;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    #update_btn:hover {			
        background-color: gainsboro;		
    }	

    .footer_app {
      color: rgb(245, 173, 6);
      font-weight: bold;
      position: fixed;     
      text-align: left;    
      bottom: 10px; 
      width: 100%;
    }

    .footer_root {
      color: rgb(245, 173, 6);
      font-weight: bold;
      position: fixed;     
      text-align: left;    
      bottom: 35px; 
      width: 100%;
    }
 
</style>
<div class="card w-25 my_margin" style="margin-left: 5px;">
    <div class="card-body" >
        <h5 class="card-title">User Update</h5>
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.username|as_crispy_field }} {{ form.old_password|as_crispy_field }}
            {{ form.password1|as_crispy_field }} {{ form.password2|as_crispy_field }}
            {{ form.first_name|as_crispy_field }} {{ form.last_name|as_crispy_field }}
            {{ form.image|as_crispy_field }} {{ form.media|as_crispy_field }}

            
            {% include 'snippets/update_message.html' %}
            <button type="submit" class="btn btn-success" id='update_btn'>Update</button>
        </form>
    </div>
    <div class="mt-4"  style="color: rgb(3, 4, 31); font-weight: bold; text-align: center; margin-top: 0px; padding-top: 0px;">
        <p style="text-align: center;"> No email update. Delete this account and create a new one with the same email (×﹏×)</p>
        <div class="d-flex justify-content-center links" style=" margin-bottom: 10px">
            <a href="{%url 'accounts:profile_delete_view' user.id%}" class="ml-2" style="color: rgb(220, 48, 71); font-weight: bold">Delete profile</a>
        </div>
    </div>
</div>

<div class="footer_app">
    app: {{ app_name_2 }}
</div>
<div class="footer_root">
    root: {{ root }}
</div>

{%endblock%}
