{%extends 'base.html'%}

{%block title%} User Update {%endblock%} 

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

{%block content%}



{% if user.is_authenticated  %}

    <h1> Edit Profile ... </h1>
    <br/><br/>
        
    <div class="form-group">
<form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{form.as_p}}

            <button class="btn btn-secondary">Update</button>
    </div>

{% else %}
    <p> U need to login with a new password  </p>
    <div style="padding-top: 5px">
        <a href="{%url 'accounts:login_fbv'%}" 
        class="btn btn-success"
        type="button"
        id="delete_btn"
        >
            Delete
        </a>

{% endif %}


<div class="footer_app">
    app: {{ app_name_2 }}
</div>
<div class="footer_root">
    root: {{ root }}
</div>

{%endblock%}
