{%extends 'base.html'%}

{%block title%} User Registration {%endblock%} 

{% load static %}
{%load crispy_forms_tags%} 

{%block content%}
<style>
    form ul {
        padding: 0 20px 0 20px;
    }
    form ul li {
        display: block;
    }
    form div label {
        margin: 5px 0 2px;
    }
    input[type='text'] {
        width: 100%;
    }

    input[type='email'] {
        width: 100%;
    }
    
    
    #messages {
        background-color: rgb(172, 169, 169);
        color: #fff;
        padding: 10px;
        margin-top: 10px;
    } 
    
    .btn-success {
        display: block; 
        background-color:limegreen;
        margin-top: 25px;
    }

    .footer_root {
      padding: 10px;
      color: rgb(245, 173, 6);
      font-weight: bold;
      text-align: left;
      /* top: 350px; */
      width: 100%;
      position: absolute;
      margin-bottom: 35px;
    }
    

</style>
<div class="card w-25 my_margin">
    <div class="card-body" >
        <h5 class="card-title">User Registration</h5>
        <form action="" method="post">
            {%csrf_token%}
            {{form.email|as_crispy_field}} {{form.password|as_crispy_field}} {{form.nickname|as_crispy_field}} {{form.name|as_crispy_field}} {{form.surname|as_crispy_field}}
            
            {% if messages %}
                {% include 'snippets/create_message.html'%}
            {% endif %}

            <button type="submit" class="btn btn-success" > Submit </button>
        </form>
    

    </div>
</div>

{%endblock%}

{% block footer %}
<div class="footer_root">
  root: {{ root }} 
  </br>
  app: {{ app_name_2 }}
</div>
{% endblock %}