{%extends 'base.html'%}

{%block title%} Update Success {%endblock%} 

{%load crispy_forms_tags%} 

{%block content%}

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<style> 

    .user-obj {
        text-align: center;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="header1">
                <div class="header2">
                    <div class="check"> <i class="fa fa-dot-circle-o"></i></div>
                </div>
                <div class="content">
                    <h1> U're going to login with google as a: </h1>
                    <h1 class="user-obj"> {{ user }} </h1>
                    <p> Check your email before U login with sent password ⊂(・▽・⊂) </p>
                    <a href="{% url 'accounts:login_fbv' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%} 
