{% extends 'base.html' %} 

{% block title %} Cart {% endblock %}

{% block content %}

<style>
    form div label {
        margin: 5px 0 2px;
    }
    /* moving search button upside and down */
    form button {
        margin-top: 0px;
    }

    input[type='text'] {
        width: 100%;
    }

    /* .basket {
        position: unset;
        background-color: rgb(238, 238, 238);
        border-radius: 5px;
    } */

    /* .card {
        position: relative;
        top: 50%;
        left: 74%; 
    } */

    .cart_title {
        position: relative;
        padding-top: 17px;
        padding-right: 65px;
        height: 50px;
        color:rgb(3, 4, 31);
        font-weight: bold;
        margin-bottom: 0;
    }

    .card_card_body {
        padding: 5px 10px;
        width: 200px;
        border: 0.5px groove grey;
        border-radius: 4px;
    }

    .picture_cart {
      border: 1px solid #4287f5;
      height: 100px;
      width: 100px;
      padding-top: 10px;
      text-align: center;
      text-orientation: initial;
    }

    .picture {
      border: 1px solid #4287f5;
      height: 100px;
      width: 150px;
      padding-top: 10px;
      text-align: center;
      text-orientation: upright;
    }

    #messages {
        background-color: rgb(172, 169, 169);
        color: #fff;
        padding: 10px;
        margin-top: 10px;
    }

    .footer_root {
      padding: 10px;
      color: rgb(245, 173, 6);
      font-weight: bold;
      text-align: left;
      top: 1px; 
      bottom: 5px; 
      width: 100%;
      position: relative;
    }

</style>

<div class='card-deck'>
  <div class='basket'>
    <div class="card w-100 my_margin" id="cardTitle">
      <div class="card-body" style="display: flex; justify-content: space-between; align-items: center">
        <div class='picture_cart'>
          >picture here<
        </div>
        <h5 class="cart_title">Hi (*°ｰ°)ﾉ. This your cart</h5>
      </div>
    </div>

    <div class="card w-100 h-25 my_margin" id="cardTitle">
      <div class="card-body" style="justify-content: space-between">
        <p class="card-text" style="color: rgb(245, 173, 6); font-weight: bold">context#1</p>
        <p class='card-text' style="color: limegreen; font-weight: bold">context#2</p>
        <p class='order_title' style="color: rgb(245, 173, 6); font-weight: bold">context#3</p>
        <p class='order_title' style="color: limegreen; font-weight: bold">context#4</p>
      </div>
    </div>

  </div>
  <div class='basket'>
    {%for order, number in basket.items %}
    <div class="card w-100 my_margin">
      <div class="card-body" style="display: flex; justify-content: space-between; align-items: center">
        <div class='picture'>
          >picture here<
        </div>

        <div style="display: flex; width: 100%; margin-left: 40px;">
          <div style="width: 100%">
            <p class='order_title' style="color: rgb(245, 173, 6); font-weight: bold" >{{order.product.title}}</p>
            <!--  <p> Count: {{product.count}}</p> !!! shift to status - available/non/availbale !!! check how it's in Zappos -->
            <div>
                <h6 class='quantity' style="padding-top: 5px; color: limegreen; font-weight: bold"> Quantity: {{number}}</h6>
            </div>
            <div style="padding-top: 5px">
              <button
                class="btn btn-info btn-sm"
                type="button"
                data-toggle="collapse"
                data-target="#collapseDesc{{order.product.id}}"
                aria-expanded="false"
                aria-controls="collapseDesc{{order.product.id}}"
                style="width: 100px;"
                >
                Info
              </button>

              <div class="collapse" id="collapseDesc{{order.product.id}}" style="padding-top: 5px"> 
                <div class="card_card_body">
                  {% if order.product.content %}
                    {{order.product.content}}
                  {% else %}
                    not filled yet
                  {% endif %}
                </div>
              </div>
            </div>
            <div style="padding-top: 5px">
              <button
                class="btn btn-info btn-sm"
                type="button"
                data-toggle="collapse"
                data-target="#collapseDesc{{order.product.id}}"
                aria-expanded="false"
                aria-controls="collapseDesc{{order.product.id}}"
                style="width: 100px;"
              >
                Price
              </button>
              <div class="collapse" id="collapseDesc{{order.product.id}}" style="padding-top: 5px">
                <div class="card_card_body">
                  {% if order.product.price %}
                    {{order.product.price}}
                  {% else %}
                    not filled yet
                  {% endif %}
                </div>
              </div>
            </div>
            <div style="padding-top: 5px">
              <a href="{%url 'products:detailed_view' order.product.id%}" 
                class="btn btn-info btn-sm"
                type="button"
                style="width: 100px; color: white; margin-top: 5px; background-color:limegreen"
                >
                Details
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  <div class="footer_root">
    root: {{ root }} 
  </br>
    app: {{ app_name_5 }}
  </div>
</div>
{%endblock%}
