
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>

input[type='image'] {
        width: 5%;
        display:none;
    }

</style>

<center>
    <div class="container">
            <br>
            <div class="card card-body">

                <h4> Account: {{ data.personal }} </h4>
                <h4> {{ data.item_name }} </h4>
                <h4> Total Value: {{ data.amount }} {{ data.currency_code }} </h4>
                <h4> Select method of a payment below </h4>
                
                    {{ form.render }}

            </div>
        </div>
    </div>

    <head>
        <!-- Add meta tags for mobile and IE -->
        <title> PayPal Checkout </title>
        <meta id='meta' name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;
        user-scalable=0;">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    </head>

    <body>
        <!-- Set up a container element for the button -->
        <div id="paypal-button-container"></div>

        <!-- Include the PayPal JavaScript SDK -->
        <script src="https://www.paypal.com/sdk/js?client-id=AQ3V59MA0LgsqGtPTn1FGIIU4-KfBuU7Ru2Ng9Fkxh6JjyCA0SiPEZovAX-LzAjbQ76C7fVK9iWfbCBi&currency=USD"></script> 
        <!-- &disable-funding=credit 'add this after USD when U want to avoid paymen options'-->
        <script>

            var total = '{{ data.amount }}'

            // Render the PayPal button into #paypal-button-container
            paypal.Buttons({
                
                style: {
                    color: 'blue',
                    shape: 'pill',
                    label: 'pay',
                    height: 40,
                    length: 120,
                },

                // Set up the transaction
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: total
                            }
                        }]
                    });
                },

                // Finalize the transaction
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(orderData) {
                        // Successful capture! For demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        var transaction = orderData.purchase_units[0].payments.captures[0];
                        alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                        // Replace the above to show a success message within this page, e.g.
                        // const element = document.getElementById('paypal-button-container');
                        // element.innerHTML = '';
                        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                    });
                }


            }).render('#paypal-button-container');
        </script>
    </body>
<center>
</html>
    