<center>
    <head>
        <style> 
            .card-body {
                color: rgb(245, 173, 6);
                font-weight: bold;
            }
            
            .attributes {
                white-space: nowrap;
                color:rgb(182, 245, 66);
            }
            .null-data {
                color:rgb(236, 5, 43);
            }
        </style>

        <div class="card w-25 my_margin">
            <div class="card-body">
                <p class="product-found" id='product-found'>

                    {{ object }} </br>

                    <div style="padding-top: 5px">
                        <a href="{%url 'products:detailed_view' object.id%}" 
                            class="btn btn-info btn-sm"
                            type="button"
                            style="width: 100px; color: white; margin-top: 5px; background-color:limegreen"
                        >
                            Details
                        </a>
                    </div>
                </p>
            </div>
        </div>
    </head>
</center>