<style>
    .card-text {
        color:rgb(3, 4, 31);
        font-weight: bold;
        padding-top: 1px;
    }

    .not-filled {
        color: rgb(220, 48, 71);
        font-weight: bold; 
        position: relative;     
        text-align: left;
        margin-top: 10px;
        margin-left: 25px;   
    }

    .field-names {
        color: rgb(220, 48, 71);
        font-weight: bolder; 
        position: relative;     
        text-align: left; 
    }

</style>

<div style="padding-top: 0px">
    <p class="card-text">
        {% if user.username %}
            <text class='field-names'> Username: </text> 
            <text class="card-text">  {{ user.username }} </text> 
        {% else %}
            <text class='not-filled'> not filled yet </text> 
        {% endif %}
    </p>
    <p class="card-text">
        {% if user.email %}
            <text class='field-names'> Email: </text> 
            <text class="card-text"> {{ user.email }} </text>
        {% else %}
            <text class="not-filled"> not filled yet  </text>
        {% endif %}
    </p>

    <p class="card-text">
        {% if user.first_name %}
            <text class='field-names'> Firstname: </text> 
            <text class="card-text"> {{ user.first_name }} </text>
        {% else %}
            <text class="not-filled"> not filled yet </text>
        {% endif %}
    </p>

    <p class="card-text">
        {% if user.last_name %}
            <text class='field-names'> Lastname: </text> 
            <text class="card-text"> {{ user.last_name }} </text>
        {% else %}
            <text class="not-filled"> not filled yet </text>
        {% endif %}
    </p>
</div>