<head>
    <style> 
        .snippet {
            color: rgb(245,	173, 6);
            font-weight: 5px; 
            margin-top: 2px;
            margin-left: 2px;
            line-height: 20pt;
            display: flex;
            /* justify-content:center; */
            flex-direction: column;
            text-align: left;
            position: relative;
        }
  
    </style>

<div class="snippet">
    
    {% if object.title %}
        <text> title: <text style="color:rgb(182, 245, 66)"> {{ object.title }} </text>
    {% else %}
        <p style="color:rgb(236, 5, 43)"> not filled yet </p>
    {% endif %}

    {% if object.content %}
    <text> description: <text style="color:rgb(182, 245, 66)"> {{ object.content }} </text>
    {% else %}
        <p style="color:rgb(236, 5, 43)"> not filled yet </p>
    {% endif %}

    {% if object.price %}
    <text> price: <text style="color:rgb(182, 245, 66)"> {{ object.price }} </text> 
    {% else %}
        <p style="color:rgb(236, 5, 43)"> not filled yet </p>
    {% endif %}

</div>

</head>