{%extends 'base.html'%} 

{%block title%} Products List {%endblock%} {%block body%}

<style>
    form div label {
        margin: 5px 0 2px;
    }

    form button {
        margin-top: 10px;
    }

    input[type='text'] {
        width: 100%;
    }

    #messages {
        background-color: rgb(172, 169, 169);
        color: #fff;
        padding: 10px;
        margin-top: 10px;
    }
</style>

<div class="card w-25 my_margin" id="bookTitle">
    <div class="card-body" style="display: flex; justify-content: space-between; align-items: center">
        <h5 class="card-title" style="margin-bottom: 0">Available books: </h5>
        <!-- USER AUTHENTICATION CHECK -->
        {%if user.is_staff%}
        <a href="{%url 'product:product_create_view'%}" class="btn btn-primary" style=background-color:mediumpurple>Create</a>
        {%endif%}
    </div>
</div>
{%for product in product_list%}
<div class="card w-75 my_margin">
    <div class="card-body" style="display: flex; justify-content: space-between">
        <div style="display: flex; align-items: stretch; width: 100%">
            <div>
                <h6 class="card-title" style="margin: 0; line-height: 1.5; padding-right: 5px">{{forloop.counter}}.</h6>
            </div>
            <div style="width: 100%">
                <p>{{product.title}}</p>
                <p>Count: {{product.count}}</p>
                <div style="padding-top: 5px">
                    <button
                        class="btn btn-info btn-sm"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseDesc{{book.id}}"
                        aria-expanded="false"
                        aria-controls="collapseDesc{{book.id}}"
                    >
                        Description
                    </button>
                    <div class="collapse" id="collapseDesc{{book.id}}" style="padding-top: 5px">
                        <div class="card card-body" style="padding: 5px 10px">{{book.description}}</div>
                    </div>
                </div>
                <div style="padding-top: 5px">
                    <button
                        class="btn btn-info btn-sm"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseAuthors{{book.id}}"
                        aria-expanded="false"
                        aria-controls="collapseAuthors{{book.id}}"
                    >
                        Authors
                    </button>
                    <div class="collapse" id="collapseAuthors{{book.id}}" style="padding-top: 5px">
                        <div class="card card-body" style="padding: 5px 10px; background-color:rgb(168, 209, 250)">
                            <ul class="list-group">
                                {%for author in book.authors.all%}
                                <li style="display: block">{{author.name}} {{author.surname}} {{author.patronymic}}</li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding: 5px">
            <!-- USER AUTHENTICATION CHECK -->
            {%if user.is_staff%}
            <a href="{%url 'book:update_book' book.id%}" class="btn btn-success" style="display: block; width: 100%; background-color:orange">
                Update
            </a>
            <a
                href="{%url 'book:delete_book' book.id%}"
                class="btn btn-danger"
                style="display: block; margin-top: 5px; width: 100%; background-color:firebrick"
            >
                Delete
            </a>
            {%endif%}
        </div>
    </div>
</div>
{%endfor%}
<a href="#bookTitle" class="btn btn-light w-75 mb-3">To the top</a>
{%endblock%}
