{% extends 'base.html' %}

{% block content %}

<style>

    .search-heading {
        /* color: honeydew; */
        color:rgb(3, 4, 31);
    }

    .manufacturer-found{
        color:rgb(68, 205, 50);
    }

    .message {
        color:limegreen;
        font-weight: bold;
    }

    .messages-success {
        color:rgb(200, 50, 205);
        font-weight: bold;
    }

    .footer_app {
      color: rgb(245, 173, 6);
      font-weight: bold;
      position: fixed;     
      text-align: left;    
      bottom: 10px; 
      width: 100%;
      margin-left: 10px;
    }
    .footer_root {
      color: rgb(245, 173, 6);
      font-weight: bold;
      position: fixed;     
      text-align: left;    
      bottom: 35px; 
      width: 100%;
      margin-left: 10px;
    }

</style>

<center>
    <div class="card w-25 my_margin">
        <div class="card-body">
            <h3 class="search-heading"> The result of your search is: </h3>
        </div>
    </div>
    {% if searched %}
        <div class="card w-25 my_margin">
            <div class="card-body">
                <p class="product-found" id='product-found'>
                    {% for object in obj_prod_filter %}
                        {% if object in obj_prod_filter %}
                            
                            {{ object }}

                            <div style="padding-top: 5px">
                                <a href="{%url 'products:detailed_view' object.id%}" 
                                    class="btn btn-info btn-sm"
                                    type="button"
                                    style="width: 100px; color: white; margin-top: 5px; background-color:limegreen"
                                >
                                    Details
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="card-body">
                <p class="manufacturer-found" id='manufacturer-found'></p>
                    {% for object in obj_man_filter %}
                        {% if object %}
                            
                        {{ object }}

                            <div style="padding-top: 5px">
                                <a href="{%url 'manufacturer:detailed_view' object.id%}" 
                                    class="btn btn-info btn-sm"
                                    type="button"
                                    style="width: 100px; color: white; margin-top: 5px; background-color:limegreen"
                                >
                                    Details
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
    <div class="card w-25 my_margin">
        <div class="card-body">
            {% for message in messages %}
                <p class="messages-success" id='messages'> {{ message }} </p>
                <!-- <p> {{ object }} </p> -->
            {% endfor %}
        </div>
    </div>
    {% endif %}
</center>

<!-- <center>
    <div>
        <br>
        {% if messages %}
            {% for message in messages %}
                <p class="messages-success" id='messages'> {{ message }} </p>  
            {% endfor %}
        {% endif %}
            
        {% if searched %}
            {% for item in searched %}
                <text class='message'> {{ item }} </text>
            {% endfor %}
        {% endif %}
        <br>
    </div>
</center> -->

<div class="footer_app">
    app: {{ app_name_1 }}
</div>
<div class="footer_root">
    root: {{ root }}
</div>

{% endblock %}