{% extends 'base.html' %}

{% block content %}

<style>

    .search-heading {
        /* color: honeydew; */
        color:rgb(3, 4, 31);
    }

    .manufacturer-found{
        color:rgb(68, 205, 50);
    }

    .message {
        color:limegreen;
        font-weight: bold;
    }

    .messages-success {
        color:rgb(200, 50, 205);
        font-weight: bold;
    }

    .footer_app {
      color: rgb(245, 173, 6);
      font-weight: bold;
      position: fixed;     
      text-align: left;    
      bottom: 10px; 
      width: 100%;
      margin-left: 10px;
    }
    .footer_root {
      color: rgb(245, 173, 6);
      font-weight: bold;
      position: fixed;     
      text-align: left;    
      bottom: 35px; 
      width: 100%;
      margin-left: 10px;
    }

</style>

<center>
    <div class="card w-25 my_margin">
        <div class="card-body">
            <h3 class="search-heading"> The result of your search is: {{ form.searched }}</h3>
        </div>
    </div>
</center>

<div class="footer_app">
    app: {{ app_name_1 }}
</div>
<div class="footer_root">
    root: {{ root }}
</div>

{% endblock %}