{%extends 'base.html'%}

{%block title%} Create Order {%endblock%} 

{%load crispy_forms_tags%} 

{%block body%}
<style>
    form div label {
        margin: 5px 0 2px;
    }
    form button {
        margin-top: 10px;
    }
    input[type='text'] {
        width: 100%;
    }
</style>
<div class="card w-25 my_margin">
    <div class="card-body">
        <h5 class="card-title">Create Order</h5>
        <form method='POST' action='.'>
            {%csrf_token%}
        
            <div class='form-widgets'>
                <label for="fname"> Product </label>
                <input type='text' name='title' placeholder='product' style="width: 435px;height: 40px"/>

                <br/><br/>
            </div>
            
            <button type="submit" class="btn btn-success">Submit</button>
        </form>


        <!-- {% for message in messages %}
            <p class="card-title" id='messages'> {{ message }}</p>
        {% endfor %} -->

    </div>
</div>

<div class="footer_app">
    app: {{ app_name_5 }}
</div>
<div class="footer_root">
    root: {{ root }}
</div>

{%endblock%}
