.Звіт РТ.xlsx
.Звіт РТ(basic).xlsx
.Звіт РТ(reserve).xlsx
.Звіт Jet A-1.xlsx
.Реєстр Укртатнафта РТ.xlsx
.Реєстр Укртатнафта Jet A-1.xlsx
.parse_data(before_fuel_choices).py
.xlsx
.pyvenv.cfg
lib64/
lib/
share/
bin/
.txt

