.Звіт Jet A-1.xlsx
.Реєстр Укртатнафта РТ.xlsx
.Реєстр Укртатнафта Jet A-1.xlsx
*.xlsx
*.txt
*.jpg
*.mp3
.Звіт Jet A-1.xlsx
.Реєстр Укртатнафта РТ.xlsx
.Реєстр Укртатнафта Jet A-1.xlsx
.pyvenv.cfg
lib64/
lib/
share/
bin/
